
body{
    background-image: url('../Extras/cartbg.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

  #head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-top: 10px;
}
#contact{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    margin-bottom: 20px;

}
#about{
    background-color: rgba(50, 162, 168, 0.6);
    bottom: 0;
}
button{
  height: 40px;
  width: 200px;
  font-weight: bolder;
  border-radius: 20px;
  margin: auto;
  left: 40px;
  background-color: rgba(50, 162, 168, 0.6);

}
#mainele{
  display: flex;
  border: 2px solid red;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
div{
  border: 2px solid red;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
}
img{
  height: 200px;
  width: 200px;
}
nav{
  background-color: #328fa8;
  height: 80px;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#home::before {
  font-weight: bold;
  color: black;
  content: "HOME ";
  padding-left: 100px;
}
#cart::before {
  font-weight: bold;
  color: black;
  content: "CART";
}
#login::before {
  font-weight: bold;
  color: black;
  content: "LOGIN/SIGNUP ";
  padding-right: 100px;
}
#stock::before {
  font-weight: bold;
  color: black;
  content: "STOCK ";
  padding-right: 100px;
}