body{
    background-image: url('../Extras/Signupbg.webp');
    
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#upper{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    margin-left: 450px;
    margin-top: 50px;


}
#show{
    display: relative;
    right: 100px;
}
[type=checkbox]{
    width: 10px;
}
#under{
    

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 400px;
    margin-top: 60px;
}
h1{
    color: black;
    font-size: xx-large;
    font-weight: bolder;
}
input{
    background-color: rgba(52, 150, 235,0.6);
    padding: 20px;
    width: 300px;
    margin: 10px;
    text-justify: center;
    border-radius: 25px;
}
button{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(52, 150, 235,0.6);
    
}
table{
    display: flex;
    align-items: center;
    justify-content: center  ;
}
td{
    display: flex;
    align-items: center;
    justify-content: center  ;
}
#myButton{
    width: 300px;
    height: 50px;
    border-radius: 25px;
    position: relative;
    right: 25px;

}
#mainele{
    display: flex;
    border: 2px solid red;
}